This is a repo where I will practice the skills from the videos assigned this week. 

FIRST VID
notes: 
-order matters
- list.append()---> will add something to the end of your list
- list.pop() ---> will remove the last item of the list
- in -->boolean value

SECOND VID

# LISTS

In [2]:
[4, 8, 15, 23, 42]

[4, 8, 15, 23, 42]

In [3]:
[True, False, True, False]

[True, False, True, False]

In [5]:
party_attendees = ["michael", "freddie", "jason"]

In [7]:
len("python")

6

In [8]:
len(party_attendees)

3

In [9]:
type(party_attendees)

list

In [11]:
presidents = ["Washington", "Jefferson"]

In [12]:
presidents.append("Madison")

In [13]:
presidents

['Washington', 'Jefferson', 'Madison']

In [14]:
popcorn = ["salted","cheddar","caramel"]

In [17]:
popcorn.pop()

'caramel'

In [18]:
popcorn

['salted', 'cheddar']

In [20]:
planets = ["mercury", "venus","earth", "mars"]
planets

['mercury', 'venus', 'earth', 'mars']

In [21]:
"earth" in planets

True

In [22]:
"pluto" not in planets

True

# INDEX POSITION AND SLICING

-every letter in a string has a unique numerical identifier, but python starts counting at zero

In [23]:
hero= "spiderman"

In [24]:
len(hero)

9

s p i d e r m a n
0 1 2 3 4 5 6 7 8

-these numberic values are called index positions
-the last index position will always be one less than the length of the string (because it starts at zero)
-to pull out a specific character, do hero[number of index position you want to pull]
-if you input an index position that's higher than the length it will return an error

In [27]:
hero[0]
hero[5]

'r'

for indexing, using a negative number pulls from the end of a string

In [28]:
hero[-1]

'n'

In [29]:
hero[-4]

'r'

to get first letter, do negative of the length

In [30]:
hero[-9]

's'

SLICES: allows us to extract a chunk of the string, a subset of the string

syntax: hero[1:3] --> will return a two letter string
index position before the second bracket is NOT included, index position after first bracket is included
subtract ending index pos from starting index pos to get the length

In [32]:
hero[1:3]
hero[2:6]

'ider'

-shortcut for starting to index from the beginning of the string: just don't include the first zero
-shortcut for going all the way to the end of a string, just don't include the number before the bracket
-an absent value on either side of the colon means go to that value
-you can use positive and negative indexing in the same pulling of characters
-if you index far beyond the end of the string, it won't return error it will just retturn everything until the end of the string

In [34]:
hero[0:6]

#is the same as

hero[:6]

'spider'

In [36]:
hero[3:100]
hero[3:]

'derman'

EXACT SAME PRINCIPLES APPLY TO LISTS

In [40]:
superheroes = ["Batman", "Superman", "Wolverine", "Ironman",]
superheroes

['Batman', 'Superman', 'Wolverine', 'Ironman']

In [41]:
superheroes[0]

'Batman'

In [43]:
superheroes[-1]

'Ironman'

In [45]:
superheroes[1:3]

['Superman', 'Wolverine']

In [46]:
superheroes[-2]

'Wolverine'

In [47]:
superheroes[3:100]

['Ironman']

In [48]:
superheroes[3:]

['Ironman']

# DICTIONARIES

In [50]:
menu = { "filet mignon": 29.99 }

^^ this is a dictionary with one key value pai

In [63]:
menu = {"filet mignon": 29.99, 
        "big mac": 3.99, 
        "salmon" : 29.99}

cannot have the same value twice. the price can be the same for two items, but the keys must be unique.
len(dictionary) --> returns the number of key value pairs
if you extract menu[ X ] and X is not in the key value pairs it will return error

In [54]:
len(menu)

3

In [55]:
menu["big mac"]

3.99

In [56]:
menu["burrito"]=13.99

#adds a key value pair

In [57]:
menu["burrito"]

13.99

In [67]:
# you can over write the existing value for a key 

menu["burrito"]= 5.99

In [68]:
menu["burrito"]

5.99

In [64]:
menu

{'filet mignon': 29.99, 'big mac': 3.99, 'salmon': 29.99}

In [65]:
#pop works the same way as it does on a list, will remove the item from the dictionary

menu.pop("filet mignon")

29.99

In [69]:
menu

{'big mac': 3.99, 'salmon': 29.99, 'burrito': 5.99}

In [70]:
# IN and NOT IN functions work in dictionaries too 

"burrito" in menu

True

In [74]:
"pizza" in menu

False

In [75]:
5.99 in menu

False

In [72]:
menu.values()

dict_values([3.99, 29.99, 5.99])

In [76]:
5.99 in menu.values()

#does anything on the menu cost 5.99

True